{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="quiz-container">
        <div class="question-container">
            <div class="question-box">
                <p></p>
                <div class="time-box">30</div>
                <div class="score-box">0</div>
            </div>
        </div>
        <div class=" options-container">
        </div>
    </div>
</body>

</html>